.nav-in{
	border-color: red;
	height: 0px;
}

.cont{
	width: 100%;
	padding: 0px;
}

.cont .navbar-brand{
	#padding-left: 0px;
	#padding-right: 0px;
	#padding-top: 0px;
	#padding-bottom: 0px;
	padding: 0px;
	margin-left: 0px;
}